<header class="header">

  <a href="./index.html"><img title="logo_abalab" src="./assets/img/logo-adalab.png" alt="logo-adalab"></a>

  <nav class="menu-nav">
      <ul class="menu-list">
          <a href="">
              <li class="menu-item one"> <a target="_blank"   title="enlace adalab" href="https://adalab.es/">Blog </a></li>
          
          <a href="">
              <li class="menu-item two"> <a target="_blank" title="enlace adalab" href="https://adalab.es/">Contacto </a></li>
          
      </ul>
  </nav>

</header>